#include "{{top_name}}.h"
#include "ap_int.h"
void {{top_name}}({{d0}} A[{{s0}}], {{d0}} B[{{s1}}], {{d0}} output[{{s2}}])
{
#pragma HLS ARRAY_PARTITION variable=A complete
#pragma HLS ARRAY_PARTITION variable=B complete
#pragma HLS ARRAY_PARTITION variable=C complete

    for (int i = 0; i < output_size; i++) {
        output[i] = 0;
        for (int j = 0; j < kernel_len; j++) {
            int signal_index = i - j;
            if (signal_index >= 0 && signal_index < signal_len) {
                output[i] += A[signal_index] * B[j];
            }
        }
    }

}
