 #pragma once
 
 #include <math.h>

int argmax_kernel{{s0}}(
            {% for i in range(s0-1) %}{{d0}} a_0_{{i}},
            {% endfor %}{{d0}} a_0_{{s0-1}});

int {{top_name}}({{d0}} input[{{s0}}]);

