#pragma once
#include "ap_int.h"
#define DTYPE {{d0}}
#define SIZE {{s0}}
#define BATCH {{BATCH}}
#define ITERATION {{ITERATION}}
void {{top_name}}({{d0}} A[{{s0}}], {{d0}}* min);
DTYPE min_unit(DTYPE a , DTYPE b);
